<div class="container-fluid row justify-content-end mt-2 mb-2">
	<button-modal #modalButton [titleButton]="'Create Classic'" [newFields]="newFields" [fetchNewSave]="fetchNewSave" [added]="viewTable" ></button-modal>
	<span class="mr-2 ml-2"></span>
	<button-modal #modalSocialButton [titleButton]="'Create Social'" [newFields]="newSocialFields" [fetchNewSave]="fetchNewSocialSave" [added]="viewTable" ></button-modal>
</div>
<view-table #viewTable [fields]="fields" [editFields]="editFields"
			[fetch]="fetch" [fetchMore]="fetchMore" [fetchEditSave]="fetchEditSave"
			[fetchRemove]="fetchRemove" [fetchRestore]="fetchRestore" [fetchDelete]="fetchDelete"></view-table>
